.panel-heading {
  height: 50px;
}

.favoriteButton {
  float: right;
}

body {
  background-color: rgb(178,208,254);
}

#logo img {
  height:100px; 
  width:auto;
}

.weatherIcon {
  height: 50px;
  width: 50px;
  float:left;
}

.reportSection > * {
  float: left;
  margin-left: 10px;
  margin-right: 15px;
  }