.favoriteButton {
  float: right;
}

body {
  background-color: rgb(178,208,254);
}

#logo img {
  height:100px; 
  width:auto;
  display: inline;
}

.weatherIcon {
  height: 50px;
  width: 50px;
  /* width: 100%; */
}

.Temperature {
  font-size: xx-large;
  font-family: monospace;
}

.hilo .Temperature {
  font-size:inherit;
}

.waveHeight {
  font-size: xx-large;
  font-family: monospace;
}

button .glyphicon {
  float:left;
  font-size: large;
  margin-right: 15px;
}


#tempControls > * {
  width:50%;
}

#loginMessage {
 /*todo align error to left, possibly put red background when there is message */
}

.displayBox {
height:100%;
padding:0px;
}

.ReportHeading {
  width:100%;
  text-align:center;
  border-style:ridge;
}


.reportSection * {
  text-align:center
}



.progress, .blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  text-align: right;
  font-size: xx-large;
  font-weight: bolder;
  padding-top: 25px;
  padding-right: 250px;
  background-color: rgb(178,208,254);
  color: white;
  text-shadow: -5px 5px 10px white;
  border-style: inset;
  border-color: white;
  border-width: thick;
}


.nav a {
  font-size: larger;
  font-weight: bold;
  color: aqua;
}

.panel-heading {
  height: 50px;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.panel-body {
  position: relative;
}

.unavailDiv *, .unavailDiv{
  text-align: center;
  color: red;
  align-content:center;
}

.uavailDiv .glyphicon {
  font-size: larger;
}

.prefMet {
  background-color: lightgreen;
}
.prefNotMet {
  background-color: lightcoral;
}

#APIroll {
  background-color:rgba(178,208,254,.6);
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  font-size: large;
}

#APIroll a {
  text-transform: none;
  font-weight: bold;
  color: white; 
  text-decoration: none;
}

#APIroll img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  display: inline;
}

#APIroll > * {
  text-align: center;
  display: inline;
  margin-right:25px; 
}

#apiBootstrap img {
  height: 35px;
}

#bodyContainer{
  margin-bottom: 60px;
}

#mainwindow {
  position: relative;
}

/*provide spacing for nav info*/
#blocker{
  margin-bottom: 30px;

}

.controlPanel > *, #logoutbutton > *{
  width: 100%
}

.controlPanel > * {
  display: inline;
}

#controlPanel {
  display: inline;
}

.mainWindow:last-child {
  margin-bottom:300px;
}
