.favoriteButton {
  float: right;
}

body {
  background-color: rgb(178,208,254);
}

#logo img {
  height:100px; 
  width:auto;
}

.weatherIcon {
  height: 50px;
  width: 50px;
  /* width: 100%; */
}

.Temperature {
  font-size: xx-large;
  font-family: monospace;
}

.hilo .Temperature {
  font-size:inherit;
}

.waveHeight {
  font-size: xx-large;
  font-family: monospace;
}

.controlPanel > *, #logoutbutton > *{
  width: 100%
}

button .glyphicon {
  float:left;
  font-size: large;
  margin-right: 15px;
}


#tempControls > * {
  width:50%;
}

#loginMessage {
 /*todo align error to left, possibly put red background when there is message */
}

.displayBox {
border-style:ridge;
height:100%;
padding:0px;
}

.ReportHeading {
 
}

.reportSection{
  border-style:ridge;

}



.progress, .blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:white;
  top: 0px;
  left: 0px;
}

.panel-heading {
  height: 50px;
  position: relative;
}

.panel-body {
  position: relative;
}

.unavailDiv *, .unavailDiv{
  text-align: center;
  color: red;
  align-content:center;
}

.uavailDiv .glyphicon {
  font-size: larger;
}

/*todo reduce stacked margins and paddings here*/
div {
  /*border-style:solid;*/
}



