.panel-heading {
  height: 50px;
}

.favoriteButton {
  float: right;
}

body {
  background-color: rgb(178,208,254);
}

#logo img {
  height:100px; 
  width:auto;
}

.weatherIcon {
  height: 50px;
  width: 50px;
}

.reportSection > * {
  /*float: left;*/
  /*margin-left: 10px;
  margin-right: 15px;*/
}
.reportSection:last-child {
  clear: right;
}

.Temperature {
  font-size: xx-large;
  font-family: monospace;
}

.hilo .Temperature {
  font-size:inherit;
}

.waveHeight {
  font-size: xx-large;
  font-family: monospace;
}

.controlPanel > * {
  width: 100%
}

button .glyphicon {
  float:left;
  font-size: large;
  margin-right: 15px;
}


#tempControls > * {
  width:50%;
}

#loginMessage {
 /*todo align error to left, possibly put red background when there is message */
}

.ReportHeading {
 
}

.displayBox {
/*todo fix warping of boxes on shrink*/

}

/*todo reduce stacked margins and paddings here*/
div {
  /*border-style:solid;*/
}



